<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description | default .Summary }}">
  <title>{{ if .IsHome }}{{ .Site.Title }} | | Community Theatre in Frimley {{ else }}{{ .Title }} | {{ .Site.Title }} | | Community Theatre in Frimley{{ end }}</title>
  <link href="{{ "uploads/favicon.ico" | relURL }}" rel="icon" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alan+Sans:wght@300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
