<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .Description }}
  <meta name="description" content="{{ .Description }}">
{{ else if .Summary }}
  <meta name="description" content="{{ .Summary | plainify | truncate 160 }}">
{{ else }}
  <meta name="description" content="Brightlight Theatre Company - Award-winning community theatre group based in Frimley in Surrey.">
{{ end }}


  <title>{{ if .IsHome }}{{ .Site.Title }} | Community Theatre in Frimley {{ else }}{{ .Title }} | {{ .Site.Title }} | Community Theatre in Frimley{{ end }}</title>
  <link href="{{ "uploads/favicon.ico" | relURL }}" rel="icon" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alan+Sans:wght@300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
<script defer src="https://cloud.umami.is/script.js" data-website-id="e8997d11-fc27-4a6c-a8b0-381ee6e38bbd"></script>
</head>
