<header class="site-header">
  <div class="site-shell site-header__inner">

{{ if .IsHome }}
<h1 class="brand-wrapper">
  <a class="brand" href="{{ "/" | relURL }}" aria-label="Brightlight Theatre home" data-umami-event="Header Logo Click"  data-umami-event-location="{{ $.RelPermalink }}">
    <img src="{{ "images/black-logo.svg" | relURL }}" class="brand-logo" alt="Brightlight Theatre Company Logo"/>
    <span class="sr-only">Brightlight Theatre Company - Community Theatre in Frimley on the Surrey & Hampshire border</span>
  </a>
</h1>
{{ else }}
  <a class="brand" href="{{ "/" | relURL }}" aria-label="Brightlight Theatre home" data-umami-event="Header Logo Click"  data-umami-event-location="{{ $.RelPermalink }}">
    <img src="{{ "images/black-logo.svg" | relURL }}" class="brand-logo" alt="Brightlight Theatre Company Logo"/>
  </a>
{{ end }}


{{ $productions := where .Site.RegularPages "Section" "productions" }}
{{ $onSaleShows := where (where $productions "Params.status" "current") "Params.onsale" true }}

{{ $headerButtonURL := "" }}
{{ $headerButtonText := "" }}
{{ $showTitle := "" }}

{{ if eq (len $onSaleShows) 1 }}
  {{ range $onSaleShows }}
    {{ $headerButtonURL = .Params.booking_url }}
    {{ $headerButtonText = "Book Tickets" }}
    {{ $showTitle := .Params.Title }}
  {{ end }}
{{ else if gt (len $onSaleShows) 1 }}
  {{ $headerButtonURL = "/productions/" | relURL }}
  {{ $headerButtonText = "Book Tickets" }}
  {{ $showTitle := "MULTIPLE" }}
{{ end }}

<div class="site-header__actions">
  {{ if $headerButtonURL }}
    <a class="btn-header-ticket" href="{{ $headerButtonURL }}" {{ if eq (len $onSaleShows) 1 }}target="_blank" rel="noopener"{{ end }} data-umami-event="Book Tickets" data-umami-event-production="{{ $showTitle  }}" data-umami-event-location="Header">
      <span>{{ $headerButtonText }}</span>
    </a>
  {{ end }}

    <input class="nav-toggle" type="checkbox" id="nav-toggle">
    <label class="nav-toggle__button" for="nav-toggle" aria-label="Toggle menu">
<svg width="70%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4 18L20 18" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
<path d="M4 12L20 12" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
<path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
</svg>
    </label>

    <nav class="site-nav" aria-label="Main navigation">
      {{ range .Site.Menus.main }}
        <a class="site-nav__link" href="{{ .URL | relURL }}" data-umami-event="Header Menu Click" data-umami-event-target="{{ .Name  }}"  data-umami-event-location="{{ $.RelPermalink }}">{{ .Name }}</a>
      {{ end }}
    </nav>
   </div>
  </div>
</header>
