{{ $p := . }}
<a class="card card--news" href="{{ $p.RelPermalink }}" data-umami-event="Read News" data-umami-event-article="{{ $p.Title  }}"  data-umami-event-location="{{ $.RelPermalink }}">
  <div class="card__image card__image--news" style="background-image:url('{{ with $p.Params.image | absURL }}{{ . }}{{ else }}{{ $p.Params.cover_image | absURL}}{{ end }}')">


   {{ if .IsHome }} <span class="badge">Featured Article</span> {{ end }}

</div>
  <div class="card__body">
    <h3 class="card__title">{{ $p.Title }}</h3>
   {{ with $p.Date }}<p class="page__date">{{ .Format "2 January 2006" }}</p>{{ end }}    
{{ with $p.Summary }}<p class="card__meta">{{ . | plainify  | htmlUnescape | truncate 120 }}</p>{{ end }}
  </div>
</a>
